.interest-links {
    display: grid;
    grid-template-columns: 1, 2, 1, 2, 1, 2, 2, 1, 0.75;
    grid-template-areas: "dog-image dog-programmers cat-image cats-and-coding plug-image plugging-stuff-in some-stocks-quotes weather-image the-weather";
}

.dog-image {
    max-width: 20px;
    max-height: 20px;
    grid-area: dog-image;
    border: orange dashed 2px;
}

.dog-programmers {
    grid-area: dog-programmers;
    border: orange dashed 2px;
}

.cat-image {
    max-width: 20px;
    max-height: 20px;
    grid-area: cats-and-coding;
    border: orange dashed 2px;
}

.cats-and-coding {
    grid-area: cats-and-coding;
    border: orange dashed 2px;
}

.plug-image {
    max-width: 20px;
    max-height: 20px;
    grid-area: plug-image;
    border: orange dashed 2px;
}

.plugging-stuff-in {
    grid-area: plugging-stuff-in;
    border: orange dashed 2px;
}

.some-stocks-quotes {
    grid-area: some-stocks-quotes;
    border: orange dashed 2px;
}

.weather-image {
    max-width: 20px;
    max-height: 20px;
    grid-area: weather-image;
    border: orange dashed 2px;
}

.the-weather {
    grid-area: the-weather;
    border: orange dashed 2px;
}
