@media (max-width: 1000px) {
    .interest-links, #test {
        display: none;
    }
}

.interest-links {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
    grid-template-rows: auto;
    grid-template-areas: "dog-image dog-programmers cat-image cats-and-coding plug-image plugging-stuff-in some-stocks-quotes weather-image the-weather";

}

.interest-links h4 {
    font-size: small;
}

.interest-links p {
    font-size:smaller;
}

.dog-image {
    grid-area: dog-image;
    /* border: orange dashed 2px; */
}

.dog-programmers {
    grid-area: dog-programmers;
    vertical-align: top;
    /* border: orange dashed 2px; */
}


.cat-image {
    grid-area: cat-image;
    border: orange dashed 2px;
}

.cats-and-coding {
    grid-area: cats-and-coding;
    border: orange dashed 2px;
}

.plug-image {

    grid-area: plug-image;
    border: orange dashed 2px;
}

.plugging-stuff-in {
    grid-area: plugging-stuff-in;
    border: orange dashed 2px;
}

.some-stocks-quotes {
    grid-area: some-stocks-quotes;
    border: orange dashed 2px;
}

.weather-image {

    grid-area: weather-image;
    border: orange dashed 2px;
}

.the-weather {
    grid-area: the-weather;
    border: orange dashed 2px;
}
