.article {
    display: grid;
}

.main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "main-header main-header" "main-body main-video" "bottom-one bottom-two";
}



.side-grid {
    display: grid;
}
